.btn {
    background: #dfdfdf;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-connect {
    color: green;
}